@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: poppins, serif;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: poppins, serif;
}

.navbar {
    background-color: rgba(137, 21, 21, 0.87);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.row {
    background-color: #ffffff !important;
}

.container-fluid {
    margin: 0;
    padding: 5px;

}

.container-fluid a {
    font-size: 25px;


}

.navbar-brand {
    margin-left: 100px;


}

.navbar-nav a {
    font-size: 20px;

}


.navbar-nav {
    margin-left: 900px;

}


.form-select {
    border-radius: 10px;
}

.card-footer {
    background-color: white;
}

.card-footer h2 {
    color: rgb(122, 118, 118);
}

.card-footer h6 {
    color: black;

}

.card {
    padding: 6px;
    border-radius: 15px;
}

.card-title h4 {
    font-size: 40px;
}

.card-title p {
    font-size: 15px;
    opacity: 0.5;
}

span {
    opacity: 0.5;
    font-size: 20px;
}

.col-3 h5 {
    font-size: 30px;
}

.row p {
    opacity: 0.5;
}

.form-select {
    width: 100%;
}

.col-4 .card-header {
    padding: 20px;
    background-color: white;
}

.col-4 .card {
    border-radius: 20px;
}

.col-4 .list-group {
    padding: 5px;
    border-radius: 10px;
}

.col-4 .card .card-header .card-title {
    font-size: 22px;
}

.col-4 .list-group-item {
    padding: 15px;
    font-size: 18px;
}

.side-summary {
    height: 500px;
}

.border-none {
    border: none;
}

.side-summary .list-group-item {
    height: 200px;
    width: 100%;
}


.table-border {
    border: 1px solid #e6e6e6;
}

.table-border > tbody > tr > td,
.table-border > tr > td {

}